/*
palette:
#a2b9bc -- blue
#b2ad7f -- sage
#878f99 -- gray
#6b5b95 -- purple
*/

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Lato, Arial, sans-serif;
  font-size: 1em;
  color: #36454F;
}

header {
  padding: .75em;
  background-color: #878f99;
  text-align: center;
}

nav {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  background-color: #e3e3e3;
  border: thin solid #6b5b95;
  vertical-align: middle;
  height: 40px;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: auto;
  grid-template-columns: 22% 22% 22% 22%;
  justify-content: space-between;
  font-size: 1.25em;
  background-color: #e3e3e3;
  padding: .75em;
}

main div {
  display: inline-block;
}

footer {
  font-size: 0.9em;
  color: white;
  background-color: #2b2b2b;
  text-align: center;
  padding: 0 3em 0 3em;
  border: thick double #878f99;
}

h1 {
  background-color: #e3e3e3;
  letter-spacing: .1em;
  font-family: Montserrat, Lato, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 600;
  color: #6b5b95;
  text-transform: uppercase;
  text-align: center;
  border: thin solid #6b5b95;
  padding: .25em 0.75em .25em .75em;
  margin: .4em;
}

p {
  line-height: 1.3em;
}

div {
  display: inline-block;
}

img {
  padding: .2em;
}

a {
  color: #6b5b95;
}

a:hover {
  background-color: #a2b9bc;
}

nav a {
  color: #6b5b95;
  letter-spacing: .2em;
  text-decoration: none;
}

nav div {
  display: inline-block;
  font-weight: 400;
  padding-top: 10px;
  font-size: 2vw;
}

footer a {
  color: #ffffff !important;
}

#header-logo {
  position: absolute;
  left: 40px;
}